<?xml version="1.0" encoding="utf-8"?>
<daoConfig
  xmlns="http://ibatis.apache.org/dataAccess"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!--开发配置-->
  <providers resource="../../../Config/providers.config"/>
  <!--发布配置-->
  <!--<providers resource="Config/providers.config"/>-->
  <context id="SqlMapDao" default="true">
    <!--生产环境-->
    <database>
      <provider name="sqlServer2.0"/>
      <dataSource name="PYZP" connectionString="Data Source=(local);Integrated Security=SSPI;Initial Catalog=PYZP;Connect Timeout=60"/>
    </database>
    <daoSessionHandler id="SqlMap">
      <!--<property name="resource" value="../../../Config/SqlMap.config"/>-->
      <property name="resource" value="Config/SqlMap.config"/>
    </daoSessionHandler>

    <daoFactory assembly="BSMP.Service.dll">
      <dao
         interface="PYZP.Service.IInfoDao, PYZP.Service"
         implementation="PYZP.Service.InfoDao, PYZP.Service" />
      
    </daoFactory>

    
  </context>
</daoConfig>

