<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <settings>
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="true"/>
  </settings>
  <!--开发配置-->
  <providers resource="../../../Config/providers.config"/>
  <!--发布配置-->
  <!--<providers resource="Config/providers.config"/>-->

  <database>
    <provider name="sqlServer2.0"/>
    <dataSource name="PYZP" connectionString="Data Source=(local);Integrated Security=SSPI;Initial Catalog=PYZP;Connect Timeout=60"/>
  </database>
  <sqlMaps>
    <!--通用-->
    <sqlMap embedded="PengeSoft.Core.Maps.CommBase.xml, PengeSoft.Core" />

    <sqlMap embedded="PYZP.Service.Maps.Info.xml, PYZP.Service" />
    

  </sqlMaps>
</sqlMapConfig>
